<div class="container text-center">
    <% name = current_user.present? ? current_user.email : 'Stranger' %>
    <h2>Welcome, <%= name %> </h2>
    <h1>Travel Blog </h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <h2>FEATURED POSTS</h2>
<div class="card border-light ">
    <% @posts.each do |post| %>
        <h3><%= link_to post.title, post_path(post.id) %></h3>
        <p><%= post.content %></p>
        <p>
          <strong>Author:</strong>
          <%= post.user.username %>  
        </p>
        <p>
          <strong>Create Date:</strong>
          <%= post.user.created_at %>  
        </p>
    <% end %>
</div>
</div>